:root{
    --can-aub: #772953;
    --black: #111111;
    --border: #282828;
}

html, body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--black);
    color: var(--black);
    height: 100%;
    margin: 0;
    width: 100%;
}

a:link{
    color: #E95420;
    text-decoration: none; 
}

.headerlink:visited {
    color: #2C001E;
    text-decoration: none; 
}
  
a:hover, .download:hover{
    color: var(--can-aub);
    text-decoration: none; 
    transition: all 0.1s ease-in-out;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#header{
    border-bottom: 0.1em solid var(--border);
    height: 4%;
    width: auto;
}

#header .links{
    white-space: nowrap;
    width: auto;
}

#header a.headerlink{
    display: inline-block;
    font-size: large;
    text-decoration: none; 
    width: auto;
    margin: 0.35em;
    right: 90%;
}

#header a.mp{
    position: absolute;
    right: 1em;
}

#content{
    background: linear-gradient(140deg, var(--can-aub) 25%, rgba(132,62,100,1) 67%, rgba(233,84,32,1) 100%);
    height: auto;
    min-height: 85%;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
}

.details{
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.2em;
}

h1{
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.top{ 
    text-align: center;
    margin: auto;
    width: 33%;
}

.top, .textbox, .download{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    filter: contrast(5);
}

.textbox{
    font-weight: bold;
    font-size: large;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
}

.download{
    padding: 0.5em;
    font-size: large;
    text-align: center;
    margin-left: 5em;
    width: 23%;
}

.download li{
    display: inline;
    margin: 0;
    padding: 0;
}

#footer{
    border-top: 0.1em solid var(--border);
    height: auto;
    width: auto;
}

#footer .links{
    margin-left: 1.5em;
    white-space: nowrap;
    width: auto;
}

#footer a.footerlink{
    margin: 1em;
    display: inline-block;
    font-size: large;
    text-decoration: none; 
}
